<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\nlog-internal.log"
      internalLogLevel="Info">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="File" name="exceptions" fileName="C:\Users\glebo\source\repos\RestaurantApi\RestaurantApiLogs\nlog-all-exceptions-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />

		<target xsi:type="File" name="request-time" fileName="C:\Users\glebo\source\repos\RestaurantApi\RestaurantApiLogs\request-time.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />

		<target xsi:type="File" name="allfile" fileName="C:\Users\glebo\source\repos\RestaurantApi\RestaurantApiLogs\nlog-all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		

		<!-- Zmiana minimalnego poziomu dla drugiej reguły na Error -->
		<logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
		<logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
	</rules>
</nlog>
